//colors
$black00: #000000;
$black01: #2c2c2c;
$black30: #4b4b4b;
$black20: #6e6e6e;
$primary01: #1473e6;

// Font(s)
$font-pro-regular: ProRegular, serif;
$font-pro-text: ProText, serif;
$font-playfair: Playfair, sans-serif;
